/* html body {
    background: url(https://res.cloudinary.com/dge0b8r2t/image/upload/v1651482015/icon128_jt8j4b.png)
} */

h2 {
    color: aqua;
}

body {
    font-family:'Times New Roman', Times, serif
}

.ill {
    border-color: brown;
    border-style: solid;
    border-width: 10px;
}
